<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header class="container">
      <navbar-element
        brandName="<%= brandName %>"
        name="Muhammad Fadhil Abyansyah"
      ></navbar-element>
    </header>

    <main class="container py-5">
      <action-element></action-element>

      <section>
        <div class="d-flex justify-content-center align-content-center" id="spinner">
          <div class="spinner-grow" role="status"></div>
          <div class="spinner-grow" role="status"></div>
          <div class="spinner-grow" role="status"></div>
        </div>

        <div
          class="d-flex flex-wrap justify-content-center align-items-center mt-5 gap-3"
          id="dashboard-story-list"
        ></div>
      </section>
    </main>

    <footer class="container py-5">
      <footer-element></footer-element>
    </footer>
  </body>
</html>
